<div style="display: flex;justify-content: space-between;">
  <h2 mat-dialog-title>Permissions</h2>
  <button mat-button mat-dialog-close ><i style="font-size: 25px;" class="bi bi-x"></i></button>
</div>
<mat-dialog-content class="mat-typography">
  
    <form [formGroup]="permissionForm" *ngIf="request">
      <div *ngFor="let i of request.menus" >
        {{i.menuName}} <br>
        <div *ngFor="let k of i.actions">
        <input (change)="resultDoldur()" type="checkbox" formControlName="{{k.code}}" id="{{k.code}}"/> <label for="{{k.code}}">{{k.code}}</label>
      </div>
      </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="result" cdkFocusInitial>Assign</button>
</mat-dialog-actions>
