<div class="form-box">
    <form [formGroup]="girisForm">
      <h2>Giriş Yap</h2>
  
      <div class="input-box">
        <label for="bir">Kullanıcı Adı</label><br />
        <input id="userName" type="text" name="" id="bir" formControlName="kullaniciAdi"/>
      </div>
  
      <div class="input-box">
        <label for="iki">parola</label>
        <input id="password" type="password" name="" id="iki" formControlName="parola"/>
      </div>
  
      <div class="submit-box">
        <button id="button" type="button" (click)="giris()">Giriş Yap</button>
      </div>
      <div style="text-align: center;"><br>
        toplam giriş sayısı <br>
        a
      </div>
    </form>

    
  </div>

  